/* 
Wesley Seago
AVF Term 1303
Demo App
*/

body {
	color: #FFFFFF;
	background-color: #000000;
	background-image: url("../img/orion.jpg");
	}

a:link {color:#FFFFFF;}      
a:visited {color:#FFFFFF;}  
a:hover {color:#FFFFFF;}  
a:active {color:#FFFFFF;}